@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  background-color: #111111;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@layer base {
 .footer-item {
  @apply transition-all duration-300 cursor-pointer hover:text-secondary-white
 }

 .stats-card {
  @apply border transition-all duration-300 hover:border-hover-card-border shadow hover:shadow-sm border-primary-card-border p-6 rounded-xl space-y-5
 }
}

.progress-bar {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(to right, #1368a8, #0e68c6, #4462de, #7c53ed, #b52df0);
  transform-origin: 0%;
}