@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700;900;1000&family=Source+Code+Pro&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgBlack: #242424;
  --divider: #707070;
  --mainGreen: #4ecca3;
  --mainWhite: #eeeeee;
  --cardBg: #303030;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: var(--bgBlack); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.list-item {
  line-height: 0.9;
}

.list-item-stack {
  line-height: 1.5;
  display: list-item;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bgBlack); 
}
 
::-webkit-scrollbar-thumb {
  background: var(--mainGreen); 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cardBg);
}